<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.90.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net452" />
  <package id="FirebirdSql.Data.FirebirdClient" version="4.2.0.0" targetFramework="net452" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net452" />
  <package id="FSharp.ViewModule.Core" version="1.0.7.0" targetFramework="net452" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net452" />
  <package id="Gu.Wpf.DataGrid2D" version="0.2.1.3" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="NuGet.Client" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Commands" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Common" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Configuration" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.ContentModel" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.DependencyResolver.Core" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="4.6.0" targetFramework="net452" />
  <package id="NuGet.LibraryModel" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.PackageManagement" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.ProjectManagement" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.ProjectModel" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.Types" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.v3" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Repositories" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Resolver" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.RuntimeModel" version="4.2.0" targetFramework="net452" />
  <package id="NuGet.Versioning" version="4.2.0" targetFramework="net452" />
  <package id="NuGetPackageUpdater" version="1.0.0.0" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
</packages>